body{
    background-color: rgb(241 236 236);

    
}
.profile{
    margin-left: 60%;
    /* float: right; */
}
.heading{
    font-size: 27px;
    padding-left:30px ;
    font-weight: bold;
    color: rgb(27, 94, 56);
    
}
/* .barimg{
    width: 100%;
    height: 0px;
} */

.title{
    /* background-color:#ADD8E6 ;
    background-image: linear-gradient(to right,#F0F8FF,#ADD8E6,#73C2FB,#3ecae9,#5D76A9); */
    background-color: wheat;
    height: 88px;
    position: fixed;
    width: 100%;
    top: 0px;
    /* background-image: url(./bar\ background.png) ; */
}

.bar{
    position: absolute;
    right: 30px;
    top: 30px;
    display: flex;
    justify-content: space-between;
}

.bar1{
    padding-right: 90px;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
.image1{
    width: 100%;
    height: 450px;
}
.home{
   margin-top: 88px;
   background-color: seagreen;
   display: flex;
   /* background-color: #145552; */
}
.hire{
    text-decoration: none;
    background-color: lightseagreen;
    color: white;
    padding: 15px;
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 50px;

}
.res{
    text-decoration: none;
    margin-left: 60px;
    color: white;
    padding: 15px;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgba(255, 217, 0, 0.842);

}
.content{
    font-family: sans-serif;
    /* position:absolute; */
    margin-left: 40px;
    margin-top: 60px;
}
.head{
    color: rgb(228, 181, 62);
    font-size: 35px;
}
.head2{
    color: white;
    font-size: 35px;

}

.text{
    margin-left: 12%;
    text-align:left;
    padding: 7px;
    margin-top: 15px;
    font-family: sans-serif;
}
.about{
    background-color: white;
    box-shadow:  0px 0px 8px 8px  rgba(192, 189, 189, 0.897);
    border-radius: 30px;
    margin-left: 50px;
    margin-right: 50px;
    height: 480px;
    display: flex;
    margin-top: 50px;
}


 .box2{
   height: 120px;
   background-color: white;
   box-shadow:  0px 0px 8px 8px  rgb(240, 238, 238);
   border-radius: 10px;
   margin-right: 20px;
} 

.box2 p{
   padding-top: 8px;
    margin-left: 30px;
    font-family: sans-serif;
}
.about h1{
    color: rgb(27, 94, 56);
    /* text-decoration: underline ;
    text-decoration-color: orange;
    text-decoration-thickness: 5px; */
    border-bottom: 6px solid orange;
    padding-bottom: 3px;
    margin-right: 400px;
}
.html{
    height: 50px;
    padding: 10px;
}
.Portfolio{
    margin-top: 50px;
}
.Portfolio h1{
    color: rgb(27, 94, 56);
   font-family: sans-serif;
   border-bottom: 5px solid orange;
   margin-left: 42%;
   margin-right: 42%;
}
.img{
    padding: 30px;
}
.image{
    margin-left: 60px;
    padding: 20px;
    border-radius: 35px;
}


.resume h1{
    color: rgb(27, 94, 56);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border-bottom: 5px solid orange;
   margin-left: 69%;
   margin-right: 10%;
}
.resume{
    margin-right: 0%;
    margin-left: 8%;
    color: rgb(27, 94, 56);
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    
}
.resume span{
    background-color: orange;
    color: white;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding: 5px;
    font-weight: 100;
    margin-left: 268px;
    font-size: 15px;
}

.img3{
    margin-left: 100%;
    background-color: white;
    border-radius: 20px;
    margin-top: 114%;
}
.resume-div2{
    width: 73px;
}

.resume-div3{
    background-color: white;
    border-radius: 20px;
    margin-top: 40%;
    padding-top: 19px;
    padding-bottom: -9px;
    padding-left: 14px;
    flex: none;
    height: 54px;
    width: 260px;
    margin-right: 220px;
  }

.resume-div3 a{
    margin-right: 15px;
    color: rgb(58, 53, 53);
}
.aboutme{
    margin-top: 50px;
}

.aboutme h1{
    color: rgb(27, 94, 56);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border-bottom: 5px solid orange;
   margin-left: 35%;
   margin-right: 32%;
}

.bigbox{
    background-color: white;
    width: 80%;
    height: 542px;
    margin-left: 120px;
    border-radius: 15px;
    box-shadow:  0px 0px 8px 8px  rgb(167, 165, 165);


}

.myimg{
    margin-left: 93px;
    margin-top: 34px;
}
.view{
    background-color: rgb(247 165 165 / 17%);
    color: orange;
    height: 78px;
    /* margin-left: 41%; */
    border-radius: 0px 0px 15px 15px;
}
.more{
    margin:0px;
    margin-top :10px;
    height: 60px;
    font-size: 18px;
    margin-left: 41%;
    padding-top: 25px;
    font-family: sans-serif;
}
.contact{
    margin-top: 50px;
}
.contact h1{
    color: rgb(27, 94, 56);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border-bottom: 5px solid orange;
   margin-left: 42%;
   margin-right: 43%;
}

.connect{
    background-color: white;
    width: 45%;
    margin-left: 50px;
    font-family: sans-serif;
   line-height: 1.8;
}
.connect p{
    padding-left: 50px;
}

.connect h2{
    color: rgb(59, 71, 65);
    padding-left: 50px;
    padding-top: 50px;
    

}
.connect i{
    padding-left: 50px;

}
.contact span{
    color: grey;
}
.msg{
    width: 45%;
    background-color: #fae0d6;

}
.msg h2{
    color: rgb(27, 94, 56);
}
.form{
    padding-left: 80px;
    font-family: sans-serif;
    line-height: 1.5;
}
.submit{
    background-color: orange;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
}
.parent{
    display: flex;
}


.msg input[type=text], input[type=number], input[type=email]{
    width: 80%;
    height: 30px;
    border: 1px solid silver;
    border-radius: 5px;
    margin-bottom: 20px;
}

.msg textarea{
    width: 80%;
    height: 60px;
    border: 1px solid silver;
    border-radius: 5px;
    margin-bottom: 30px;
}

.submit{
    border-radius: 5px;
    background-color: orange;
    color: white;
    border: none;
    width: 200px;
    height: 40px;
    font-size: 15px;
    margin-bottom: 50px;
}

.last{
    padding-top: 40px;
    font-family: sans-serif;
    margin-left: 40%;
}
